@import '../I.scss';

.button {
  padding: 0 1em;
  font-family: arial, sans-serif;
  line-height: 2;
  cursor: pointer;
  user-select: none;
  background: #fff;
  border: 1px solid $border-color;
  border-radius: 3px;
  transition: background .1s ease-out 0s;

  &.checked {
    background: $checked-color;

    &:active {
      background: color($checked-color l(- 10%));
    }

    &[disabled] {
      background: $disabled-on-color;
    }
  }

  &.loading {
    cursor: progress;
    @mixin loading
    $disabled-color;
  }

  &.action:not([disabled]) {
    background: $action-color;

    &:hover {
      background: $action-hover-color;
    }

    &:focus {
      animation: focus-ground 1s linear infinite;
    }

    &:active {
      background: $action-pressed-color;
      animation: none;
    }
  }

  &:active {
    background: $pressed-color;
  }

  &:hover {
    border-color: $hover-border-color;
  }

  &:focus {
    border-color: $focus-color;
    outline: none;
    box-shadow: inset 0 0 0 1px $focus-color;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &[disabled],
  &.action {
    border-color: transparent;
    box-shadow: none;
  }

  &[disabled] {
    color: $disabled-text-color;
    background-color: $disabled-color;
  }

  &.size {
    &-L {
      font-size: 1.25rem;
    }
    &-M {
      font-size: 1rem;
    }
    &-S {
      font-size: .75rem;
    }
    &-XS {
      padding: 0 .5em;
      font-size: .75rem;
      line-height: 1.5;
      border-radius: 2px;
    }
  }
}

.group {
  position: relative;
  z-index: 0;
  display: inline-flex;

  flex-wrap: nowrap;

  .button {
    position: relative;
    z-index: 0;

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child) {
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.checked {
      z-index: 1;
    }

    &:focus {
      z-index: 2;
    }

    &:hover {
      z-index: 3;
    }

    &[disabled] {
      z-index: -1;
    }
  }
}
