@import '../I.scss';

.select[disabled] .arrow svg {
  stroke: $disabled-text-color;
}

.arrow {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-right: -1em;
  vertical-align: middle;

  svg {
    transition: transform .1s linear;

    stroke: black;
    stroke-width: 2.5;
  }

  &.up svg {
    transform: scale(.4) rotate(-180deg);
  }

  &.down svg {
    transform: scale(.4);
  }
}

.check {
  width: 2em;
  height: 2em;
  svg {
    transform: scale(.5);

    stroke: black;
    stroke-width: 3;
  }
}

.options {
  padding: .3em 0;
  line-height: 2;
}

.option {
  display: flex;
  padding-right: 1em;
  cursor: pointer;
  user-select: none;
  &.active {
    background: $checked-color;
  }
}

.placeholder {
  color: $disabled-text-color;
}

.hidden {
  display: none;
}
