.root {
  position: relative;
}

.popup {
  position: absolute;
  z-index: 100;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 10px 20px -5px rgba(0,0,0,.4);

  .tail {
    position: absolute;
    overflow: hidden;

    path {
      fill: #fff;
      stroke: rgba(0,0,0,.1);
      stroke-width: 1px;
      vector-effect: non-scaling-stroke;
    }
  }
}
