@import '../ContentPage/ContentPage.scss';

.status {
  text-transform: capitalize;

  .count {
    display: inline-block;
    padding: 0 .5em;
    margin-left: 1em;
    font-family: textbook, arial, sans-serif;
    font-size: .85em;
    line-height: 1.5;
    color: #fff;
    border-radius: 3px;

    &-failed {
      background-color: #d9534f;
    }

    &-running {
      background-color: #f0ad4e;
    }

    &-completed {
      background-color: #5cb85c;
    }
  }
}
